<html>
  <head>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="stylesheet" href="/js/bundle.css" />
  </head>
  <body>
    <a href="/auth/login">Login</a>
    <a href="/auth/signup">Signup</a>
    <a href="/db/test">Test Database contents</a>
  </body>
</html>
