<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Poker Game</title>
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <link rel="stylesheet" href="/css/bundle.css" />
</head>

<body>
  <div class="bg"></div>

  <div class="card card--centered">
    <img src="/favicon.svg" alt="Logo" class="logo">

    <h1>Welcome to Poker</h1>
    <!--<p class="subtitle">Texas Hold'em Multiplayer</p>-->

    <a class="btn-primary btn-block" href="/auth/login">Login</a>
    <a class="btn-success btn-block" href="/auth/signup">Sign Up</a>
    <a class="btn-secondary btn-block" href="/db">Test Database Contents</a>
  </div>
</body>

</html>