<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Log In</title>
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <link rel="stylesheet" href="/css/bundle.css" />
</head>

<body>
  <div class="bg"></div>

  <div class="card card--centered">
    <img src="/favicon.svg" class="logo" alt="Logo" />

    <h1>Login</h1>

    <form method="post" action="/auth/login">
      <% if (locals.error) { %>
        <div class="error-message">
          <%= locals.error %>
        </div>
        <% } %>

          <div class="form-group">
            <label for="username">Username</label>
            <input type="text" name="username" id="username" required />
          </div>

          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" name="password" id="password" required />
          </div>

          <button class="btn-primary btn-block" type="submit">Login</button>

          <a class="btn-secondary btn-block" href="/auth/signup">Create an account</a>
    </form>
  </div>
</body>

</html>